@import "@source/_variables";

.layout {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  -webkit-box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // border: 3px solid red;
  * {
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    img {
      overflow: hidden;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
  background-color: darken($color: white, $amount: 5);
  @include flex(column);

  justify-content: flex-start;

  & > div:first-of-type {
    position: absolute;
    left: -30%;
    top: 40px;
    background-color: color(sec);
    border-radius: 0 50% 50% 0;
    height: 600px;
    align-self: flex-start;
    width: 100%;
    max-width: 700px;
  }
}
