@import "@source/_variables";

.layout {
  margin: 0;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Merienda", cursive;
  -webkit-box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  * {
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    img {
      overflow: hidden;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
  background-color: darken($color: white, $amount: 20);
  @include flex(column);
  justify-content: space-between;
}
