@import "@source/_variables";

.leftCurve {
  position: absolute;
  left: -250px;
  top: 100px;
  background-color: color(sec);
  border-radius: 50%;
  height: 400px;
  width: 400px;
  max-width: 700px;
}

.rightTriangle {
  position: absolute;
  right: -200px;
  transform: rotate(45deg);
  top: 400px;
  background-color: color(sec);
  height: 300px;
  width: 300px;
}

.layout {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 60px; //for navigation not to block elements
  text-align: center;
  font-family: "Playfair Display", serif;
  -webkit-box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include flex(column);
  justify-content: flex-start;
  * {
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    img {
      overflow: hidden;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  header {
    width: 100%;
    background-color: color(pry);
    padding: 5px;
    color: wheat;
  }
}

.navigation {
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: color(pry);
  @include flex(row);
  justify-content: space-evenly;
  overflow: hidden;
  z-index: 10;
  & > button:hover {
    transform: scale(1.3);
  }
}
