@import "@source/_variables";

.home {
  margin: 20px auto;
  // max-width: 1200px;
  // border: 3px solid red;
  width: 100%;
  & > main:nth-of-type(1) {
    padding: 10px;
    @include flex(row);
    gap: 10px;
  }
}
.balance {
  min-width: 200px;
  @include flex(column);
  align-items: flex-start;
  & > p:nth-of-type(2),
  & > p:nth-of-type(3) {
    // align-self: flex;
    align-self: center;
  }
}
