@import "@source/_variables";

.home {
  width: 100%;
  & > main:nth-of-type(1) {
    margin: 20px auto;
    padding: 10px;
    max-width: 800px;
    @include flex(row);
    flex-wrap: wrap;
    gap: 10px;
    align-items: stretch;
    & > div {
      position: relative;
      min-width: 250px;
      @include flex(column);
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: 760px) {
  .home > main:nth-of-type(1) {
    flex-wrap: nowrap;
  }
}

.balance {
  justify-content: space-evenly;
  & > p:nth-of-type(2),
  & > p:nth-of-type(3) {
    // align-self: flex;
    align-self: center;
  }
}

.history {
  justify-content: flex-start;
  // & > div {
  width: 100%;
  .transaction {
    margin-bottom: 5px;
    padding: 0 10px;
    @include flex(row);
    & > div {
      margin-left: 15px;
      justify-content: space-between;
      @include flex(column);
      & > div {
        @include flex(row);
        justify-content: space-between;
      }
    }
  }
  .transaction:hover {
    border-radius: 5px;
    background-color: darken($color: white, $amount: 5);
  }
}
// }

.addTran {
  margin: 20px auto;
  max-width: 780px;
  position: relative;
  & > * {
    margin-bottom: 10px;
    // border: 3px solid blue;
  }
  & > div:last-child {
    @include flex(row);
    gap: 10px;
    justify-content: space-between;
    // align-items: flex-end;

    & > button {
    }
  }
}

.search {
  margin: auto;
  max-width: 700px;
  @include flex(column);

  align-items: flex-start;
  & > div:first-of-type {
    @include flex(row);
  }
  & > p {
    margin: 5px 0 20px;
    // border: 3px solid red;
  }
}
