$fontColors: (
  "pry": rgb(93, 68, 139),
  "sec": rgb(188, 141, 202),
);

@function color($color) {
  @return map-get($fontColors, $color);
}

@mixin flex($direction, $width: 100%) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  width: $width;
}
